{% extends "layout.njk" %}
{% block content %}
    <div class="detalhes-receita">
        <div class="detalhes-receita-header">
            <img src="/img-grandes/{{ item.image }}" alt="{{ item.title }}">
            <h1>{{ item.title }}</h1>
            <p>por
                {{ item.author }}</p>
        </div>
        <div class="detalhes-receita-corpo">
            <div class="detalhes-receita">
                <div class="detalhes-receita-titulo">
                    <h3>Ingredientes</h3>
                    <h4 class="botao-esconder">Esconder</h4>
                </div>
                <ul class="conteudo0">
                    {% for linha in item.ingredients %}
                        <li>{{linha}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="detalhes-receita">
                <div class="detalhes-receita-titulo">
                    <h3>Modo de preparo</h3>
                    <h4 class="botao-esconder">Esconder</h4>
                </div>
                <ol class="conteudo1">
                    {% for linha in item.preparation %}
                        <li>{{linha}}</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="detalhes-receita">
                <div class="detalhes-receita-titulo">
                    <h3>Informações adicionais</h3>
                    <h4 class="botao-esconder">Esconder</h4>
                </div>
                <p class="conteudo2">{{item.information}}</p>
            </div>
        </div>
        <script src="/script.js"></script>
    </div>
{% endblock %}