{% extends "layout-recipes.njk" %}

{% block head %}
    <title>Foodfy - Criar Receita</title>
{% endblock %}

{% block links %}
    <a href="/admin/recipes">Página Inicial</a>
    <a href="/admin/recipes/create" class="negrito-destaque-link">Cadastrar Receita</a>
{% endblock %}

{% block header %}
    <div class="title-page">
        <h1>Criando Receita</h1>
    </div>
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/admin/recipes">
        <section class="details">
            {% include "admin/recipes/fields.njk" %}
        </section>
    </form>
{% endblock %}