{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>{{ teacher.name }}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.age }}</div>
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <div>{{ teacher.graduation }}</div>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <div>{{ "Presencial" if teacher.type == "presencial" else "À distância" }}</div>
            </div>
            <div class="item">
                <div>Área de Atuação</div>
                <div>
                    {% for occupation in teacher.occupations %}
                        <span>{{ occupation }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="item">
                <div>Desde</div>
                <div>{{ teacher.created_at }}</div>
            </div>
            <div class="button-edit">
                <button>
                    <a href="/teachers/{{ teacher.id }}/edit">Editar</a>
                </button>
            </div>
            <div class="button-delete">
                <form method="POST" action="/teachers?_method=DELETE">
                    <input type="hidden" name="id" value="{{ teacher.id }}">
                    <button type="submit">Deletar</button>
                </form>
            </div>
        </section>
    </div>
{% endblock content %}