<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <nav id="nav-admin">
            <div class="nav-content nav-content-admin">
                <img src="/img/logo-branco.png" alt="Logo Foodfy">
                {% block links %}{% endblock %}
            </div>
        </nav>
        <main>
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>

</html>