{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Editar Chef</title>
{% endblock %}

{% block links %}
    <a href="/admin/recipes">Receitas</a>
    <a href="/admin/chefs" class="negrito-destaque-link">Chefs</a>
{% endblock %}

{% block content %}
    <div class="card">
        <section class="details">
            <div class="group-button">
                <div class="title-page">
                    <h1>Editando Chef</h1>
                </div>
                <div class="postion-button-action">
                    <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
                        <input type="hidden" name="id" value="{{ chef.id }}">
                        <button type="submit">Deletar</button>
                    </form>
                </div>
            </div>
            <form method="POST" action="/admin/chefs?_method=PUT">
                <div class="postion-button-action-save">
                    <button type="submit" id="botao-salvar-receita">Salvar Chef</button>
                </div>
                {% include "admin/chefs/fields.njk" %}
                <input type="hidden" name="id" value="{{ chef.id }}">
            </form>
        </section>
    </div>
    <script>
        const formDelete = document.querySelector('#form-delete');
        formDelete.addEventListener('submit', function (event) {
            const confirmation = confirm('Deseja Deletar?');
            if (!confirmation) {
                event.preventDefault();
            }
        });
    </script>
{% endblock content %}