<div class="item">
    <div class="item-titulo">Nome</div>
    <div>
        <input type="text" name="name" placeholder="Nome do Chef" value="{{ chef.name }}">
    </div>
</div>
<div class="item">
    <div class="item-titulo">Avatar</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ chef.avatar_url }}">
    </div>
</div>