{% extends "layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Chef
        {{ chef.name }}</title>
{% endblock %}

{% block links %}
    <a href="/admin/recipes">Receitas</a>
    <a href="/admin/chefs" class="negrito-destaque-link">Chefs</a>
{% endblock %}

{% block header %}
    <div class="group-button">
        <div class="title-page">
            <h1>Chef:
                {{ chef.name }}</h1>
        </div>
        <div class="postion-button-action button-edit">
            <a href="/admin/chefs/{{ chef.id }}/edit">Editar Chef</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="detalhes-chef">
        <div class="detalhes-chef-header">
            <img src="{{ chef.avatar_url }}" alt="{{ chef.name }}">
            <h1>{{ chef.name }}</h1>
            <p>{{ chef.total_recipes }} receitas</p>
        </div>
        <div class="detalhes-chef-corpo">
            <div class="detalhes-chef">
                <div class="detalhes-chef-titulo">
                    <h3>Receitas</h3>
                </div>
            </div>
            <div class="pratos-list-conteudo">
                {% for recipe in recipes %}
                    <div class="prato-list-item">
                        <div class="prato-list-img">
                            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                        </div>
                        <div class="prato-list-info">
                            <p class="prato-list-titulo">{{ recipe.title }}</p>
                            <p class="prato-list-chef">por {{ chef.name }}</p>
                            <div class="prato-list-visualizar">
                                <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}